<section class="container-fluid bg_full_width">
  <div class="filter">
  </div>
</section>

<div class="container-fluid full_width">
  <div class="content">
    <div class="margin_top row">
      <div class="col-md-12 position">
        <h1>Bienvenue sur Grouper</h1>
        <h3>L'application incontournable pour la gestion de vos groupes (méfofinir avant)
        </h3>

        <li class='button_link'><%= link_to 'Je veux essayer!', new_user_session_path %></li>
      </div>
    </div>
  </div>
</div>
