<h1>Bienvenue sur Grouper !</h1>

<p>Grouper est une application qui vous permettra (quand elle sera terminée) de générer des groupes de projet de multiples façons, en fonction des membres de chaque promotion d'année en année.</p>
