<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>SOS Grouper !</h1>
    <p>
      Bouhou aidez-moi /whine /whine
    </p>

  </body>
</html>
