// Place all the styles related to the create_workshop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.generation_choice {
  text-align: left;
  position: relative;
  left: 20px;
}
