body {
  margin : 0px !important;
}

@font-face{
    font-family: "Caviar_Dreams";
    src:url(font-path('Caviar_Dreams.ttf'));
}

/** HEADER **/

.header {
  font-family: "Caviar_Dreams";
  background-color: #4F5760;
  height : 100px;
}

.header ul {
  margin : 0px !important;
  display : inline-block;
}

.header ul:first-child {
  float : left;
  width : 150px;
}

.header ul:last-child {
  float : right;
  padding-right: 50px;
}

.header ul:last-child li {
  margin : 0 10px;
}

.header ul li img {
  width : 85%;
}

.header ul li {
  display : inline-block;
  line-height: 100px;
}

.header ul:nth-child(2) {
  color : white;
  font-variant: small-caps;
  font-size: 35px;
}

.header ul .link a {
  padding : 7px 30px;
  color : #FFF;
  font-size : 20px;
  background-color: #0F6D96;

  font-variant: small-caps;
  text-decoration: none;
}

.header ul .link a:hover {
  background-color: inherit;
  transition: .3s;
}

.header ul .link a {

}
