// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg_full_width {
  padding: 0 !important;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background: image-url('background_home.jpg') center center no-repeat;
  background-size: cover;
}

.bg_full_width_workshop {
  padding: 0 !important;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background-color: #E6E6E6;
}

.filter {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.5);
}

.content {
  text-align: center;
  z-index: 800;
  color: white;
}
