// Place all the styles related to the Liens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_link img {
  margin-right: 20px;
}

.img_link img {
  width: 90%;
  max-width: 500px;
}

.each_link {
  color: black !important;
}
