// Place all the styles related to the workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.canvas {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  width: 220px;
  background-color: #23232C;
  padding-bottom: 150px;
}

@media (max-width: 750px) {
  .canvas {
    display: none;
  }
}

.canvas a{
  color: #C2C2CA !important;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-left: -10px !important;
  padding: 17px;
}

.canvas h4, .canvas .fa-list, .nav_mobile h4, .nav_mobile .fa-list {
  margin-left: 5px;
  color: #C2C2CA;
  font-size: 18px !important;
}

.active {
  background-color: #34343D;
}

.each_workshop, .my_profil {
    border-bottom: 1px solid #343434;
    &:hover {
      background-color: #34343D;
    }
}

.each_workshop a {
  display: block;
  font-size: 14px;
  word-wrap: break-word;
  text-align: center;
  padding-left: 10px;
}

.title_workshop {
  padding: 0 !important;
  color: black;
  height: 200px;
  background: image_url('background_home.jpg') center center no-repeat;
  background-size: cover;
  border-bottom: 5px solid black;
}

.title_workshop h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color : white;
}

.last_workshop_view {
  margin-left: 220px;
  margin-right: 70px;
}

@media (max-width: 750px) {
  .last_workshop_view {
    margin-left: 0;
    margin-right: 0;
  }
}

.actions_workshop {
  color: white !important;
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  background-color: #23232C;
}

.actions_workshop a {
  color: white !important;
  display: block;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #343434;
  &:hover {
    background-color: #34343D;
  }
  &:hover > .fa-pencil-square-o {
    color: #257B00;
  }
  &:hover > .fa-trash-o {
    color: #A40000;
  }
}

.actions_workshop a .fa {
  font-size: 3.5em;
  margin: 5px 0;
}

.actions_workshop a .fa-pencil-square-o {
  margin-top: 10px;
  position: relative;
  left: 3px;
}

@media (max-width: 750px) {
  .actions_workshop {
    display: none;
  }
}

.informations, .description {
  font-family: Helvetica;
  position: relative;
  padding: 10px 0 10px 15px;
  background: rgba(0,0,0, 0.6);
  text-align: left;
}

.every_projects {
  text-align: left;
  position: relative;
  font-family: Helvetica;
  padding-bottom: 50px;
  background: rgba(0,0,0, 0.6);
}

.every_projects div {
  position: relative;
  left: 3px;
  display: inline-table;
  background-color: rgba(0,0,0, 0.4);
  width: 45%;
  margin: 10px 2%;
}

.group p {
  text-align: center;
  background-color: black;
  padding: 8px 0;
}

.group ul li {
  list-style-type: none;
  text-align: left;
}

@media (max-width: 750px) {
  .every_projects div {
    width: 94%;
    margin: 10px 3%;
    left: 0 !important;
  }
}

.description p {
  margin-top: 10px;
}

.informations ul {
  padding: 0 !important;
}

.informations ul li {
  margin: 8px 0;
  list-style-type: none;
}

.description .transform_position {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line_title {
  width: 100%;
  height: 50px;
  background: rgba(0,0,0, 1);
}

.line_title h3 {
  line-height: 50px;
  text-align: right;
  padding-right: 15px;
}

.no_project {
  color: black;
  position: relative;
  margin-top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no_project a {
  font-size: 15em;
  color: rgba(0,0,0, .3);
  display: inline-block;
  cursor: pointer;
}
